.regis {
    width: 980px;
    margin: 1em auto;
}

body {
    line-height: 1.5;
}

a {
    color: #00a1d6;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.regis h2 {
    text-align: center;
    font-size: 38px;
    border-bottom: 1px solid #ddd;
    height: 30px;
    margin-bottom: 60px;
}

.regis h2 span {
    background: #fff;
    padding: 0 20px;
}

.regis .form-area {
    width: 423px;
    margin: 0 auto;
}

.form-area .form-item {
    margin: 50px 0;
}

input[type="text"], input[type="password"] {
    border: 1px solid #dcdfe6;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    height: 40px;
    /* 内容距离左边框 */
    text-indent: 1em;
    font-size: 14px;
    color: #606266;
    font-family: "PingFangSC-Medium";
}

input[type="text"]:hover, input[type="password"]:hover {
    border-color: #c0c4cc;
}

input[type="text"]::placeholder, input[type="password"]::placeholder {
    color: #ccc;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #00a1d6;
    outline: 0;
}

.form-area .form-item {
    box-sizing: border-box;
    position: relative;
}

.form-area .form-item .select .select-item {
    float: left;
    width: 140px;
    height: 40px;
    border: 1px solid #dcdfe6;
    border-right: none;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-sizing: border-box;
    position: relative;
}

.form-area .form-item .select .select-item .title {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    color: #909399;
    cursor: pointer;
}

.form-area .form-item .select .select-item ul {
    max-height: 256px;
    background: #fff;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 50px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    color: #606266;
    padding: 10px 0;
    overflow-y: auto;
    display: none;
}

.form-area .form-item .select .select-item ul li {
    font-size: 14px;
    height: 34px;
    padding: 0 20px;
    cursor: pointer;
    line-height: 34px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.form-area .form-item .select .select-item ul li.active {
    color: #00a1d6;
    font-weight: bold;
}

.form-area .form-item .select .select-item ul li:hover {
    background: #f5f7f6;
}

.form-area .form-item .select .input {
    float: left;
    height: 40px;
    width: 283px;
}

.form-area .form-item .select .input input {
    border-radius: 0 4px 4px 0;
}

.form-area .form-item .btn-sncode {
    width: 130px;
    height: 40px;
    position: absolute;
    top: 0px;
    right: 2px;
}

.form-area .form-item .input-sn {
    width: 289px;
}

.form-area .readme {
    margin-bottom: -40px;
    margin-top: -40px;
    font-size: 12px;
}

.form-area .readme .checkbox {
    display: inline-block;
    height: 14px;
    width: 14px;
    margin-bottom: -2px;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    box-sizing: border-box;
}

 .form-area .readme input{
    display: none;
} 

.form-area .readme input:checked+.checkbox {
    border-color: #00a1d6;
}

.form-area .readme input:checked+.checkbox::after {
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    background: #00a1d6;
    border-radius: 2px;
    margin-left: 2.5px;
    margin-top: 2.5px;
}

.form-area .form-item .fill {
    box-sizing: border-box;
    width: 100%;
}

.form-area .form-item .error {
    position: absolute;
    width: 240px;
    right: -250px;
    top: 12px;
    color: #f45d90;
    font-size: 12px;
    display: none;
}

.form-area .form-item.haserror .error {
    display: block;
}

.form-area .form-item.haserror input{
    border-color:#f45d90;
}


.form-area .tip {
    text-align: right;
}

.form-area button {
    height: 40px;
    background: #00a1d6;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    border-style: none;
    outline: none;
}


button:hover {
    background: #33b4de;
}

button:disabled{
    background: #f5f5f5;
    color: rgba(0,0,0,.25);
    border: 1px solid #f5f5f5;
    box-sizing: border-box;
    cursor:not-allowed;
}