@charset "UTF-8";
@import "//at.alicdn.com/t/font_2220160_v5ciln5hwud.css";
/* 多页面共享的样式 */

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

body {
    font-family: Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.hidden {
    display: none;
}

.btn {
    background: #41ac52;
    cursor: pointer;
    color: #fff;
    text-align: center;
    border-radius: 4px;
}

.btn:disabled {
    background: rgba(68, 189, 86, .5);
    cursor: not-allowed;
}

/* 评分开始 */

.star-bg {
    display: inline-block;
    width: 55px;
    height: 11px;
    background: url('../img/rating.png') no-repeat left top/100%;
}

.star50 {
    background-position: 0 0;
}
.star45{
    background-position: 0 -11px;
}
.star40{background-position: 0 -22px;}
.star35{background-position: 0 -33px;}
.star30{background-position: 0 -44px;}
.star25{background-position: 0 -55px;}
.star20{background-position: 0 -66px;}
.star15{background-position: 0 -77px;}
.star10{background-position: 0 -88px;}
.star05{background-position: 0 -99px;}
.star00{background-position: 0 -110px;}

/* 评分结束 */