@charset "UTF-8";
@import "reset.css";
@import "common.css";
/* 统一设置开始 */

a {
    color: #41ac52;
}

input[type='text'], input[type='password'] {
    width: 100%;
    border: 1px solid #e4e6e5;
    box-sizing: border-box;
    height: 34px;
    padding-left: 10px;
    border-radius: 4px;
    font-size: 13px;
}

input[type='text'].more-text-indent {
    padding-left: 60px;
}

/* 统一设置结束 */

.container {
    width: 300px;
    height: 300px;
    line-height: 2;
    padding: 30px 10px 10px 10px;
    color: #9b9b9b;
}

.container .login .switch-menu {
    border-bottom: 1px solid #eceecc;
    font-size: 13px;
}

.container .login .switch-menu span {
    width: 150px;
    text-align: center;
    cursor: pointer;
}

.container .login .switch-menu span.selected {
    font-weight: bold;
    color: #333;
    border-bottom: 1px solid #494949;
    margin-bottom: -1px;
}

.container .login .form .form-item {
    margin: 10px 0;
    position: relative;
    font-size: 13px;
}

.container .login .form .form-item .country-code {
    width: 51px;
    height: 26px;
    position: absolute;
    top: 4px;
    left: 0;
    text-align: center;
    color: #333;
    font-weight: bold;
    font-size: 15px;
    line-height: 26px;
    border-right: 1px solid #e4e6e5;
    cursor: pointer;
}

.container .login .form .form-item .txt {
    font-size: 12px;
}

.container .login .form .form-item .ab-right{
    position: absolute;
    right: 7px;
    top: 5px;
}
.container .login .form .form-item .btn{
    width: 100%;
    height: 34px;
    font-size: 15px;
}

.container .login .form .form-item .country-code .chrose-area {
    /* 铺满整个视口,半透明的 */
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .5);
    left: 0;
    top: 0;
    z-index: 1;
}

.container .login .form .form-item .country-code .chrose-area .center {
    width: 285px;
    height: 225px;
    position: relative;
    box-sizing: border-box;
    border: 1px solid #bbb;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
    border-radius: 5px;
    cursor: default;
    overflow: hidden;
}

.container .login .form .form-item .country-code .chrose-area .center .title {
    background: #ebf5eb;
    height: 42px;
    line-height: 42px;
    text-align: left;
    padding-left: 10px;
    color: #060;
    font-weight: bold;
    cursor: auto;
}
.container .login .form .form-item .country-code .chrose-area .center ul{
    height: 180px;
    overflow: auto;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
}
.container .login .form .form-item .country-code .chrose-area .center ul li{ 
    height: 38px;
    line-height: 38px;
    border-top: 1px solid #e5e5e5;
    /* border-bottom: 1px solid #e5e5e5; */
    /* margin-top: -1px; */
}
.container .login .form .form-item .country-code .chrose-area .center ul li:last-child{ 
    border-bottom: 1px solid #e5e5e5;
}
.country-code .chrose-area .center ul li .fright{
    color: #aaa;
    font-weight: normal;
}
.container .login .form .form-item .country-code .chrose-area .center ul li.selected{
    color: #42bd56;
    cursor: pointer;
}
.country-code .chrose-area .center ul li.selected .fright{
    color:inherit;
}
.country-code .chrose-area .center ul li.selected .iconfont{
    margin-left: 10px;
}