@charset "utf-8";
@import "//at.alicdn.com/t/font_2220160_2w5kvtt5vpi.css";
.container {
    width: 950px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.hidden {
    display: none;
}

.btn {
    background: #41ac52;
    color: #fff;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
}

.btn:disabled {
    cursor: not-allowed;
    background: rgba(66, 189, 86, .5);
}

.aside-left {
    float: left;
    width: 100px;
    margin-right: 20px;
}

.aside-right {
    float: right;
    width: 265px;
    margin-left: 30px;
}

.main {
    /* 创建独立的bfc */
    overflow: hidden;
}

.adv img {
    width: 100%;
    display: block;
}

.section-title {
    margin: 12px 0;
}

.section-title .title {
    display: inline-block;
    color: #072;
    font-size: 15px;
}

.section-title .title::after {
    content: " · · · · · · ";
}

.section-title .link {
    font-size: 12px;
}

.section-title .link::before {
    content: "(";
}

.section-title .link::after {
    content: ")";
}

.adv-tag::after {
    content: "广告";
    color: #c9c9c9;
    font-size: 12px;
}

.aside-left .title{
    font-size: 24px;
}
.dark-color{
    color: #494949;
}

.item-list li{
    display: inline-block;
    vertical-align: top;
    line-height: 1.5;
}
.item-list li .img img{
    display: block;
    width: 100%;
}

/* 星 */

.star-bg {
    display: inline-block;
    width: 55px;
    height: 11px;
    background: url('../img/rating.png') no-repeat left top/100%;
}
.star50{
    background-position: 0 0;
}
.star45{
    background-position: 0 -11px;
}

.star40{
    background-position: 0 -22px;
}

.block-link{
    padding: 2px 10px;
    font-size: 12px;
    border-radius: 3px;
    display: inline-block;
}