@charset "utf-8";
.left-menu {
    font-size: 14px;
}

.left-menu a {
    position: relative;
}

.left-menu a.new::after {
    content: "";
    background-image: url("../img/new_menu.gif");
    width: 17px;
    height: 7px;
    position: absolute;
    right: -20px;
    top: 4px;
}

.right-menu-list li {
    float: left;
    font-size: 12px;
}

.movie-area .right-menu-list li {
    width: 48px;
    height: 24px;
    overflow: hidden;
    margin-right: 10px;
}

.movie-area .order-movie-list {
    font-size: 12px;
}

.movie-area .order-movie-list li {
    list-style-type: decimal;
    list-style-position: inside;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 6px;
}

.movie-area .order-movie-list li a {
    margin-left: 5px;
}

.movie-area .item-list {
    font-size: 0;
}

.movie-area .item-list li {
    width: 100px;
    margin-right: 38px;
    margin-bottom: 40px;
}

.movie-area .item-list li:nth-child(4n) {
    margin-right: 0;
}

.movie-area .item-list li .words {
    font-size: 13px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 2px;
}

.movie-area .item-list li .words a {
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.star {
    text-align: center;
}

.star .number {
    font-size: 12px;
    margin-left: 7px;
    color: #e09015;
}

.movie-area .func {
    margin-top: 7px;
    text-align: center;
}

.movie-area .func .block-link {
    background-color: #1c8bd0;
    color: #fff;
}

.movie-area .func .block-link:hover {
    background: #047fcb;
}

.group-area .aside-left a {
    color: #007982;
}

.group-area .aside-left a:hover {
    color: #fff;
}

.group-area .aside-left a:active {
    color: #fff;
}

.group-area .main .item-list {
    text-align: justify;
}

.group-area .main .item-list::after {
    content: "";
    display: inline-block;
    width: 100%;
}

.group-area .main .item-list li {
    width: 248px;
    margin-bottom: 30px;
}

.group-area .main .item-list li .words {
    font-size: 13px;
    overflow: hidden;
}

.group-area .main .item-list li .words span {
    display: block;
    font-size: 12px;
    color: #999;
    margin-top: 5px;
}

.group-area .main .item-list .img {
    float: left;
    width: 48px;
    margin-right: 15px;
}

.book-area a {
    color: #494949;
}

.book-area .menu-adv .app-title {
    display: inline-block;
    margin-top: 4px;
}

.book-area .group {
    border-bottom: 1px solid #eaeaea;
    padding: 10px 0;
}

.book-area .group:last-child {
    border-bottom: none;
}

.book-area .group .right-menu-list li {
    margin-right: 10px;
}

.book-area .group .right-menu-list li .title {
    color: #999;
}

.book-area .group .right-menu-list li .title::before {
    content: '[';
    display: inline-block;
}

.book-area .group .right-menu-list li .title::after {
    content: "]";
    display: inline-block;
}

.book-area .item-list {
    font-size: 0;
}

.book-area .item-list li {
    width: 100px;
    margin-right: 38px;
    text-align: center;
}

.book-area .item-list li:nth-child(4n) {
    margin-right: 0;
}

.book-area .item-list .words {
    font-size: 13px;
    margin-top: 15px;
}

.book-area .item-list .words span {
    display: block;
    color: #111;
    font-size: 12px;
    margin: 8px 0;
}

.book-area .item-list .func .block-link {
    background: #999a95;
    color: #fff;
}

.book-area .item-list .func .block-link:hover {
    background: #878882;
}

/* 音乐开始 */

.music-area a {
    color: #555d53;
}

.music-area a:hover, .music-area a:active {
    color: #fff;
}

.music-area .aside-left .title a {
    color: #f38c00;
}

.music-area .aside-left .title a:hover {
    color: #fff;
}

.music-area .aside-left .title a:active {
    color: #fff;
}

.music-area .aside-right .music-player-list li .player {
    width: 240px;
}

.music-area .aside-right .music-player-list li .player .img {
    width: 48px;
    height: 48px;
    position: relative;
}

.music-area .aside-right .music-player-list li .player .img::before {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .8);
    color: #fff;
    text-align: center;
    line-height: 48px;
}

.music-area .aside-right .music-player-list li .player .img:hover::before {
    display: block;
}

.music-area .aside-right .music-player-list li .player .img img {
    width: 100%;
    height: 100%;
    display: block;
}

.music-area .aside-right .music-player-list li .player .words {
    width: 180px;
    margin-left: 10px;
    font-size: 12px;
}

.music-area .aside-right .music-player-list li .player .words span {
    display: block;
    color: #999;
    line-height: 1.5;
}

.music-area .main .item-list li {
    width: 130px;
    text-align: center;
    font-size: 12px;
    margin-bottom: 40px;
}

.music-area .main .item-list li .img img {
    width: 80px;
    margin: 0 auto;
}

.music-area .main .item-list li .words {
    margin: 4px 0;
}

.music-area .main .item-list.hot-music li .words {
    font-size: 13px;
    margin: 8px 0;
}

.music-area .main .item-list.hot-music li .img {
    position: relative;
}

.music-area .main .item-list.hot-music li .img::before {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 33px;
    background: rgba(0, 0, 0, .4);
    border-radius: 50%;
}

.doupin_area .aside-left .title a {
    color: #1f9432;
}

.doupin_area .aside-left .title a:hover, .doupin_area .aside-left .title a:active {
    color: #fff;
}

.doupin_area .aside-right .adv_title {
    font-size: 14px;
    display: block;
    margin-top: 10px;
}

.doupin_area .main .item-list {
    font-size: 0;
}

.doupin_area .main .item-list li {
    width: 240px;
    margin-right: 20px;
    margin-bottom: 30px;
}

.doupin_area .main .item-list li .words {
    font-size: 16px;
    margin-top: 10px;
}

.doupin_area .main .item-list li .words span {
    color: #E55547;
}

.samecity_area .aside-left .title a {
    color: #ec5303;
}

.samecity_area .aside-left .title a:hover, .samecity_area .aside-left .title a:active {
    color: #fff;
}

.samecity_area .main .item-list {
    font-size: 0;
}

.samecity_area .main .item-list li {
    width: 248px;
    margin-right: 20px;
    margin-bottom: 60px;
}

.samecity_area .main .item-list li:nth-child(2n) {
    margin-right: 0;
}

.samecity_area .main .item-list .img{
    margin-right: 10px;
}

.samecity_area .main .item-list li .words {
    font-size: 12px;
    overflow: hidden;
}
.samecity_area .main .item-list li .words a{
    font-size: 13px;
}

.samecity_area .main .item-list li .words span{
    font-size: 12px;
    display: block;
    line-height: 1.5;
    color: #666;
    margin: 5px 0;
}