@charset "utf-8";
@import "common.css";
@import "//at.alicdn.com/t/font_2334643_3bd1chbkdhx.css";
/* 
@font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.eot');
    src: url('../font/') format('embedded-opentype'), url('../font/') format('woff2'), url('../font/../font/') format('woff'), url('../font/iconfont.ttf') format('truetype'), url('../font/iconfont.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} */

/* 头部信息 */

.headMessage li {
    float: left;
    line-height: 35px;
    padding: 0 6px;
    font-size: 0;
}

.headMessage .title {
    font-size: 12px;
}

.headMessage a {
    color: #6c6c6c;
    font-size: 12px;
}

.headMessage li a:hover {
    color: #f40;
}

.headMessage li a.hony {
    color: #f22e00;
}

.headMessage li span.iconfont {
    font-size: 12px;
}

.headMessage li span.arrow {
    margin-left: 7px;
}

.headMessage li strong {
    font-size: 12px;
    font-weight: bold;
    color: #f22e00;
}

.headMessage li span.store {
    color: #9c9c9c;
}

.headMessage li.line {
    font-size: 12px;
    color: #ddd;
    padding: 0 5px;
}

/* 头部广告start */

.headAd {
    background-color: #f12f04;
}

.headAd .go {
    display: block;
    padding: 10px 10px 10px 15px;
}

.headAd .go img {
    width: 80px;
    height: 80px;
}

.headAd ul {
    margin-top: 13px;
}

.headAd ul li {
    float: left;
    width: 209px;
    height: 75px;
    margin-right: 10px;
    box-sizing: border-box;
    padding: 12px 15px 0 15px;
}

.headAd ul li a {
    color: #fff;
}

.headAd ul li a img {
    width: 52px;
    height: 52px;
    border-radius: 5px;
}

.headAd ul li p {
    font-size: 14px;
    line-height: 20px;
}

.headAd ul li h3 {
    font-size: 20px;
    line-height: 28px;
}

.headAd li.item {
    background: url('../images/bc.png') no-repeat;
}

.headAd ul li:last-child {
    margin-right: 0;
}

/* 搜索区 */

.search-area {
    background-color: #fff;
    padding: 24px 0 10px 0;
}

.search-area h1 a {
    display: block;
    width: 190px;
    height: 68px;
    background: url('../images/logo.gif') center no-repeat;
    text-indent: -9999px;
    overflow: hidden;
    margin-top: 8px;
}

.search-area .qrcode {
    width: 72px;
    height: 86px;
    border: 1px solid #eee;
    position: relative;
    margin-right: 110px;
    text-align: center;
}

.search-area .qrcode img {
    width: 62px;
    height: 62px;
}

.search-area .qrcode .close {
    position: absolute;
    width: 14px;
    height: 14px;
    line-height: 14px;
    font-size: 14px;
    border: 1px solid #eee;
    left: -16px;
    top: -1px;
    color: #ddd;
    cursor: pointer;
}

.search-area .search {
    width: 630px;
    margin: 0 auto;
}

.search-area .search .search-tab {
    height: 22px;
    padding-left: 17px;
}

.search-area .search .search-tab li {
    float: left;
    width: 36px;
    line-height: 22px;
    margin-right: 4px;
    text-align: center;
    color: #f40;
    cursor: pointer;
}

.search-area .search .search-tab li:hover {
    background-color: #ffeee5;
}

.search-area .search .search-tab li.selected {
    color: #fff;
    font-weight: bold;
    background-image: linear-gradient(to right, #ff9000, #ff5000);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff9000', endColorstr='#ffff5000', GradientType=1);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.search-area .search .search-content {
    height: 40px;
}

.search-area .search .search-content .searchbox {
    width: 554px;
    height: 40px;
    box-sizing: border-box;
    border: 2px solid #ff5000;
    border-right: none;
    border-radius: 20px 0 0 20px;
    overflow: hidden;
    position: relative;
}

.search-area .search .search-content .searchbox input {
    width: 490px;
    height: 36px;
    line-height: 36px;
    text-indent: 10px;
    outline: none;
    border: none;
    position: absolute;
    z-index: 1;
    background-color: transparent;
}

.search-area .search .search-content .searchbox .placeholder {
    position: absolute;
    top: 6px;
    left: 14px;
}

.search-area .search .search-content .searchbox .placeholder span {
    color: #9c9c9c;
    vertical-align: 2px;
}

.search-area .search .search-content .searchbox .img-search {
    position: absolute;
    top: -2px;
    right: 20px;
    font-size: 24px;
    color: #9c9c9c;
    cursor: pointer;
}

.search-area .search .search-content .searchbtn button {
    width: 74px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    border: none;
    background-image: linear-gradient(to right, #ff9000, #ff5000);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff9000', endColorstr='#ffff5000', GradientType=1);
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}

.search-area .search .hotKey {
    height: 25px;
    line-height: 25px;
    margin-top: 10px;
}

.search-area .search .hotKey a:hover {
    color: #f50;
}

/* 导航开始 */

/* 宽高 行高 字体 大小 颜色 背景 */

.nav-menu h2 {
    width: 190px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    background-color: #f50;
}

.nav-menu ul {
    /* width: 1000px;
    width: calc(100% - 190px); */
    margin-left: 190px;
    /* overflow: hidden; */
    height: 30px;
    background-image: linear-gradient(to right, #ff9000, #ff5000);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff9000', endColorstr='#ffff5000', GradientType=1);
}

.nav-menu ul li {
    float: left;
    height: 30px;
    line-height: 30px;
    margin: 0 7px;
    padding: 0 5px;
    font-size: 14px;
    color: #fff;
    position: relative;
}

.nav-menu ul li.b {
    font-size: 16px;
}

.nav-menu ul li.liner {
    margin: 0;
    padding: 0;
}

.nav-menu ul li a {
    color: #fff;
    font-weight: bold;
}

.nav-menu ul li a:hover::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 13px;
    background-image: url('../images/mou.png');
    top: -13px;
    left: 50%;
    margin-left: -12px;
}

/* 导航结束 */

/* 首屏开始 */

/* 侧边导航 */

.firstScreen .first-left {
    width: 890px;
}

.firstScreen .first-left .side-nav {
    width: 190px;
    height: 522px;
    background: #fff;
    border: 1px solid #ff5000;
    box-sizing: border-box;
    border-top: none;
    padding-top: 5px;
}

.firstScreen .first-left .side-nav li {
    height: 32px;
    line-height: 32px;
    padding-left: 25px;
    font-size: 14px;
    color: #999;
}

.firstScreen .first-left .side-nav li a {
    font-size: 14px;
    color: #666;
}

.firstScreen .first-left .side-nav li span {
    font-size: 12px;
    margin-right: 7px;
}

.firstScreen .first-left .side-nav li:hover {
    background: #fee4dc;
    transition: background-color 0.3s;
    color: #f50;
}

.firstScreen .first-left .side-nav li:hover a {
    color: #f50;
}

.firstScreen .first-left .side-nav a:hover {
    text-decoration: underline;
}

.firstScreen .first-left .img1-box {
    height: 282px;
    width: 690px;
    margin-top: 10px;
}

.firstScreen .first-left .pic {
    position: relative;
    width: 520px;
}

.firstScreen .first-left .pic button {
    width: 20px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0.3);
    /* background-color: #000\9;
    filter: alpha(opacity=30); */
    position: absolute;
    top: 50%;
    margin-top: -15px;
    display: none;
}

.firstScreen .first-left .pic button.leftbtn {
    border-radius: 0 15px 15px 0;
    padding-left: 1px;
}

.firstScreen .first-left .pic button.rightbtn {
    right: 0;
    border-radius: 15px 0px 0px 15px;
    padding-right: 2px;
}

.firstScreen .first-left .pic:hover button {
    display: block;
}

.firstScreen .first-left .pic .circle {
    position: absolute;
    bottom: 15px;
    left: 50%;
    margin-left: -35px;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 10px;
    padding: 3px 0;
    font-size: 0;
}

.firstScreen .first-left .pic .circle span {
    display: inline-block;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 3px;
    cursor: pointer;
}

.firstScreen .first-left .pic .circle span.active {
    background-color: #ff5000;
}

.firstScreen .first-left .ad {
    width: 160px;
}

.firstScreen .first-left .ad img {
    width: 160px;
    display: block;
}

.firstScreen .first-left .img2-box {
    height: 220px;
    width: 690px;
    margin-top: 10px;
}

.firstScreen .first-left .img2-box .pic-title {
    height: 20px;
}

.firstScreen .first-left .img2-box .pic-title .text {
    height: 17px;
    line-height: 17px;
}

.firstScreen .first-left .img2-box .pic-title .text .bg {
    background: url('../images/cat.png') no-repeat;
    background-size: 122px 22px;
    color: #666;
    padding-left: 136px;
}

.firstScreen .first-left .img2-box .pic-title .text i {
    color: #ff1648;
}

.firstScreen .first-left .img2-box .pic-title .line {
    height: 3px;
    background-color: #ff1648;
    position: relative;
}

.firstScreen .first-left .img2-box .pic-title .line span {
    position: absolute;
    left: 87px;
    width: 87px;
    height: 3px;
    background-color: #000;
}

.firstScreen .first-left .img2-box .img {
    height: 200px;
    width: 520px;
    background-color: #fff;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
}

.firstScreen .first-left .img2-box .img img {
    width: 240px;
    height: 200px;
    margin: 0 10px;
    display: block;
    float: left;
}

.firstScreen .first-left .img2-box .ad .title {
    height: 20px;
    line-height: 20px;
}

.firstScreen .first-left .img2-box .ad img {
    display: block;
    height: 200px;
}

/* 淘宝头条 */

.firstScreen .first-left .news {
    background: #fff;
    width: 890px;
    height: 100px;
    margin-top: 10px;
    box-sizing: border-box;
    padding: 13px;
    padding-left: 20px;
}

.firstScreen .first-left .news .hd {
    margin-top: 15px;
}

.firstScreen .first-left .news .hd p {
    color: #999;
    line-height: 24px;
}

.firstScreen .first-left .news .hd h3 {
    width: 139px;
    height: 26px;
    background: url('../images/logo.gif') no-repeat;
    text-indent: -9999px;
    overflow: hidden;
}

.firstScreen .first-left .news .newlist {
    width: 680px;
    position: relative;
}

.firstScreen .first-left .news .newlist .item {
    position: relative;
}

.firstScreen .first-left .news .newlist .item .img {
    margin-right: 15px;
}

.firstScreen .first-left .news .newlist .item .img img {
    width: 130px;
    height: 73px;
    display: block;
}

.firstScreen .first-left .news .newlist .item h4 {
    line-height: 28px;
    font-size: 16px;
    font-weight: normal;
}

.firstScreen .first-left .news .newlist .item h4 a {
    color: #333;
}

.firstScreen .first-left .news .newlist .item h4 a:hover, .firstScreen .first-left .news .newlist .item .more:hover {
    color: #ff5000;
}

.firstScreen .first-left .news .newlist .item p {
    font-size: 14px;
    line-height: 18px;
}

.firstScreen .first-left .news .newlist .item p a {
    color: #999;
}

.firstScreen .first-left .news .newlist .item .more {
    position: absolute;
    top: 0;
    right: 0;
    color: #999;
}

.firstScreen .first-right {
    width: 290px;
    margin-top: 10px;
    background: gray;
}

.firstScreen .first-right .user-info {
    height: 140px;
    background-image: url('../images/bg_user.png');
    background-size: 290px 145px;
    padding-top: 5px;
}

.firstScreen .first-right .user-info .avater {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
}

.firstScreen .first-right .user-info .avater img {
    width: 50px;
    height: 50px;
    display: block;
}

.firstScreen .first-right .user-info .user-name {
    text-align: center;
    line-height: 16px;
}

.firstScreen .first-right .user-info .members {
    font-size: 0;
    text-align: center;
}

.firstScreen .first-right .user-info .members a {
    font-size: 12px;
    padding: 0 10px 0 20px;
    margin: 0 2px;
    display: inline-block;
    border-radius: 9px;
    /* background: #ffe4dc; */
}

.firstScreen .first-right .user-info .members a.gold {
    background: #ffe4dc url('../images/cccc.png');
    background-position: 0 -572px;
    background-repeat: no-repeat;
}

.firstScreen .first-right .user-info .members a.club {
    background: #ffe4dc url('../images/cccc.png');
    background-position: 0 -528px;
    background-repeat: no-repeat;
}

.firstScreen .first-right .user-info .btns {
    text-align: center;
}

.firstScreen .first-right .user-info .btns button {
    width: 75px;
    height: 25px;
    line-height: 25px;
    margin: 12px 2px 0 2px;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
    border: none;
    background-image: linear-gradient(to right, #ff9000, #ff5000);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff9000', endColorstr='#ffff5000', GradientType=1);
}

.firstScreen .first-right .user-info .btns .login {
    width: 92px;
}

.firstScreen .first-right .user-info .btns button:focus {
    border: none;
    outline: none;
}

.firstScreen .first-right .tip-off {
    display: block;
    height: 26px;
    line-height: 26px;
    color: #f40;
    background: #ffe4dc;
    text-align: center;
    font-weight: bold;
}

.firstScreen .first-right .tip-off i {
    vertical-align: -1px;
    font-size: 12px;
    position: relative;
    left: 30px;
}

/* 公告区 */

.firstScreen .first-right .notice {
    height: 108px;
    background: #fff;
}

.firstScreen .first-right .notice .title {
    text-align: center;
    font-size: 0;
    padding-top: 10px;
}

.firstScreen .first-right .notice .title li {
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
    padding: 0 4px;
    margin: 0 10px;
}

.firstScreen .first-right .notice .title li.active {
    border-bottom: 2px solid #f40;
    font-weight: bold;
}

.firstScreen .first-right .notice .title li a:hover {
    color: #f40;
}

.firstScreen .first-right .notice .content {
    margin: 0 12px;
    padding-top: 10px;
}

.firstScreen .first-right .notice .content li {
    float: left;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    width: 130px;
    white-space: nowrap;
}

.firstScreen .first-right .notice .content .item {
    width: 100%;
}

.firstScreen .first-right .notice .content .item a {
    color: #ff5000;
}

.firstScreen .first-right .notice .content li a:hover {
    color: #ff5000;
}

/* 图标区域 */

.first-right .icon-area {
    width: 100%;
    height: 231px;
    background-color: #fff;
    table-layout: fixed;
    /*根据表格的宽度自动计算*/
}

.first-right .icon-area td {
    border: 1px solid #f4f4f4;
    text-align: center;
    vertical-align: middle;
}

.first-right .icon-area td span {
    display: block;
    width: 24px;
    height: 24px;
    margin: 0px auto;
    background-image: url('../images/cccc.png');
    background-repeat: no-repeat;
}

.first-right .icon-area td i {
    line-height: 34px;
    color: #333;
}

.first-right .icon-area .item1 span {
    background-position: 0 0;
}

.first-right .icon-area .item2 span {
    background-position: 0 -87px;
}

.first-right .icon-area .item3 span {
    background-position: 0 -44px;
}

.first-right .icon-area .item4 span {
    background-position: 0 -132px;
}

.first-right .app {
    height: 111px;
    background: #fff;
}

.first-right .app .title {
    height: 30px;
    line-height: 30px;
}

.first-right .app .title h3 {
    font-size: 14px;
    font-weight: bold;
    padding-left: 13px;
}

.first-right .app .title a {
    margin-right: 10px;
    color: #999;
}

.first-right .app .title a:hover {
    color: #f40;
}

.first-right .app .app-icon {
    text-align: center;
    font-size: 0;
}

.first-right .app .app-icon li {
    display: inline-block;
    margin: 0 10px 8px 10px;
}

.first-right .app .app-icon li img {
    display: block;
    width: 32px;
    height: 32px;
}

/* 有好货 */

.goods {
    width: 590px;
    height: 685px;
    background-color: #fff;
}

.goods .head {
    height: 24px;
    line-height: 24px;
    margin: 20px 0;
    padding: 0 20px;
}

.goods .head h3 {
    font-size: 0;
    font-weight: normal;
}

.goods .head h3 img {
    height: 24px;
}

.goods .head h3 span {
    font-size: 20px;
    vertical-align: middle;
    color: #ccc;
    margin: 0 5px;
}

.goods .head h3 i {
    font-size: 12px;
    color: #999;
    vertical-align: middle;
}

.goods .head .change {
    color: #999;
}

.goods .list {
    font-size: 0;
    text-align: center;
}

.goods .list li {
    width: 180px;
    display: inline-block;
    margin: 0 2px 35px 2px;
}

.goods .list li img {
    width: 180px;
    height: 180px;
    display: block;
}

.goods .list li h4 {
    font-size: 16px;
    height: 28px;
    line-height: 28px;
    font-weight: normal;
    text-align: left;
}

.goods .list li h4 a:hover {
    color: #f40;
}

.goods .list li .text {
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #999;
}

.goods .list li .comment {
    display: block;
    height: 22px;
    line-height: 22px;
    margin-top: 12;
    text-align: left;
    font-size: 12px;
    color: #35b1ff;
}

.goods .list li .comment span {
    font-size: 14px;
}

.shopping .list li .text {
    height: 44px;
    line-height: 22px;
    font-size: 14px;
    overflow: hidden;
    white-space: normal;
    text-overflow: initial;
    margin-top: 11px;
}

.shopping .list li .text span {
    font-size: 14px;
    color: #ebebeb;
}

.shopping .list li .text a:hover {
    color: #f40;
}

.shopping .list li .comment {
    color: #999;
}

.shopping .list li .comment i {
    vertical-align: -1px;
}

.shopping .list li .comment img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: inline-block;
    font-size: 0;
}

.tool {
    position: fixed;
    top: 100px;
    right: 40px;
    width: 50px;
    height: 350px;
    /* border: 1px solid #f00; */
}

.tool span {
    position: absolute;
    font-size: 32px;
    color: #ff7f13;
    width: 50px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    top: -28px;
}

.tool .btns {
    height: 350px;
    border-radius: 8px;
    overflow: hidden;
}

.tool .btns a {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #fff;
    word-break: keep-all;
    box-sizing: border-box;
    padding-top: 6px;
    text-align: center;
    position: relative;
}

.tool .btns a.active, .tool .btns a:hover {
    color: #fff;
    font-weight: bold;
    background-image: linear-gradient(135deg, #ff9000, #ff5000);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff9000', endColorstr='#ffff5000', GradientType=1);
}
.tool .btns a.active:after, .tool .btns a:hover:after {
    border: none;
}
.tool .btns a:after {
    content: "";
    border-bottom: 1px solid #efefef;
    width: 34px;
    position: absolute;
    left: 8px;
    bottom: 0;
}

.tool .btns a.item5 {
    line-height: 40px;
}
